<h1>Anagrams</h1>
<form action="/test_anagram">
  <label for="testword">Type in any word:</label>
  <input id="testword" type="text" name="testword">
  <br>
  <label for="teststring">Type one or more words to test whether they are anagrams of your initial input:</label>
  <input id="teststring" type="text" name="teststring">
  <br>
  <button type="submit" class="btn-success">Submit</button>
</form>
